.btn {
    background-color: #8f00ff;
    padding: 0.45rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    min-width: 80px;
    color: white;
  }